<!DOCTYPE html>
<!--<div id="follower">Move your mouse</div>-->
<body>
<div class="address_background">
  <h1 align="center">Contact</h1>
  <h3 align="center"><em>Sergey Michael Skumatov</em></h3>
  <p>Email: <a href="mailto:sskumatov@gmail.com"><strong>sskumatov@gmail.com</strong></a></p>

</div>
<br>
<br>
<!--<hr>-->

<div id="follower"><%= "Please Log in or register to view full resume and address"  %></follower></div>
  <br>

  <div class="text-center">
    <div class="btn btn-group btn-left">
      <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
    </div>
    <div class="divider">
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
</body>