<!DOCTYPE>
<html>

<% header "Please Log in or register to view this section" %>


<div class="text-center">
<div class="btn btn-group btn-left">
  <div class="divider">
  <!--<div class="bottom-left">-->
<%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
    </div>
    <!--<a href="/users/sign_in" media="screen" align="left">Log In</a>-->
    <div class="divider">

    <!--<a href="/users/sign_up" media="screen">Sign Up</a>-->
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
</html>

