<!DOCTYPE html>
<!--<div id="follower">Move your mouse</div>-->
<body>
<div class="address_background">
<h1 align="center">Contact</h1>
<h3 align="center"><em>Sergey Michael Skumatov</em></h3>

<p>Email: <a href="mailto:sskumatov@gmail.com"><strong>sskumatov@gmail.com</strong></a></p>
<p>Phone: <strong>(720) 219-0867</strong></p>
<p>Blog: <a href = "https://sskumatov.wordpress.com"><strong>Sergey M Skumatov</strong></a> </p>
<p>Git: <a href = "https://github.com/Serg09"><strong>GitHub</strong></a> </p>


</div>
</body>