<!DOCTYPE>
<html>

<h1>H1</h1>

<h5 align="center"><i><b>Objective:</b></i></h5>
<h5 align="center"><i>Junior Software/Ruby on Rails Engineer seeking position that will allow me to solidify and continue to expand my programming knowledge.</i></h5>

<br>

<h5 align="center"><b>Technical Skills:</b></h5><br>

<p>Languages:<br>
Ruby, Rails, jQuery, HTML, CSS, JavaScript, SQL, Java, JSON, API, MS Database Development</p>
<br>
<p>Development Tools:<br>
RubyMine, Git, GitHub,  Pivotal Tracker, RSpec, Ruby, Heroku, Travis CI,  TDD/BDD, Vim, OS X, Windows, Linux (Ubuntu)</p>
<br>
<p>Database Management Systems:<br> MS Access, MySQL</p>
<br>
<p>Rails Projects:<br>
<a href="http://www.speedop.com/">www.speedop.com</a>   - It offers the ability to track the speed of the site over time, so users can see how changes affect the speed. Also, all data visualized and weekly emailed to users with scores for the week.</p>
<br>
<h5 align="center"><b>Education:</b></h5>

<p>DaVinci Coders, Westminster, CO, September 2015 – December 2015<br>
Building the Toolbelt of a Junior Developer – Instructor: Jason Noble</p>

<p>Thirteen-week intensive learning environment covering Ruby and Ruby on Rails. Utilized Pivotal Tracker to keep track of homework and group projects.  Learned Git branching strategies, including opening pull requests, responding to code reviews and rebasing where appropriate. Built a number of in-class projects, including an API, JavaScript, and HTML/CSS Speedop app to allow web developers to add the link to their website, test it and get advice on improvements in performance of their website and receive weekly email updates on status and changes to a website.</p>

<p>Pair programmed on the group projects to determine requirements, write code used Ruby, HTML/CSS, and JavaScript. Also, included tests, created PivotalTracker stories and participated in daily stand up meetings.</p>
<br>
<p>Lugansk State Academy of Culture and Arts, Ukraine, May 2002 – August 2007<br>
Bachelor of Arts<br>
Program: Acoustics and Sound Engineering</p>
<br>
<p>Front Range Community College, Westminster, CO, September 2013 - current<br>
Program: Computer Information Systems (CIS)</p>
<br>
<h5 align="center"><b>Audio/Video skills:</b></h5>
<p>Video editing, video pre/post production, Sound production, AV installations and operation.</p>
<br>
<h5 align="center"><b>Work Experience:</b></h5>
<p>Event Technology Specialist (AV Engineer) February 2009 – current<br>
Responsible for performing assembly and installation of electronic equipment and system wiring. Audio, Video, and Network Rack assembly. Reading assigned project documentation, determine requirements, and maintain updated as-built drawings and documentation for assigned projects, maintaining accurate inventory of parts and responsible for reporting daily time and activity to the Project Manager. The job required high attention to details, ability quickly to solve any upcoming issues, be a good team player, and necessitate excellent customer service.</p>
<br>
<p>WOL/Luch Video Production Engineer (Ukraine) January 1997 – August 2013<br>
Maintained responsibility of creating Documentary movies, News, Sports & Health programs/materials including a broadcasting play list. Handled aspects of technical functionalities include checking all programs for full functionality and ensuring material/requirements are complete before broadcast. Maintained technical condition in a TV studio encompassing Light, Sound, and Color Correction. Assist in maintaining the company website. Develop and supported company network, hardware and software installations. The job necessary qualities are similar to development job and require to be a reliable and flexible team player with strong communication and interpersonal skills. Organized, detail oriented, eager to learn, and willing to do what it takes to get the job done together with critical and creative thinking skills.
</p>
<br>
<h5 align="center"><b>Volunteer Experience:</b></h5>
<p>International Humanitarian Organization “Joy”			        May 1996 – August 2005<br>
Provide assistance in preparation of all freight documentation. Assisted staff in routine and emergency operations as required as well as delivering help to orphanages, hospitals and people in need.</p>


</html>