<!DOCTYPE>
<html>

<h1>RESUME</h1>
<br>

<h5 align="center"><i><b>OBJECTIVE:</b></i></h5>

<h5 align="center"><b>Junior Developer seeking position that will allow me to further
  expand my technical and programming experiences.</b></h5><br>

<h5 align="center"><i><b>SUMMARY:</b></i></h5>

<p align="justify">Accomplished Information Systems and TV productions professionally with such
  experience as networks, databases, video system hardware and software support,
  “voice over IP.”, and video productions. Skilled, creative, dedicated, self-driven,
  focused and result oriented. Always one-step ahead of the challenge. Strong
  interpersonal skills. Capable of working comfortably under high-pressure
  environments requiring strong flexibility, analytical, coordination skills.
  Solid skills in working independently with minimal direction. Fast learner and
  always eager to learn, team player.<br> Technical proficiencies include: <b>Operating
  Systems:</b> Windows, OS X, Linux (Ubuntu); <b>Languages:</b> Ruby, Rails, jQuery, HTML, CSS,
  JavaScript, SQL, Java, JSON, API: <b>Development Tools:</b> Rubymine, Git, Pivotal Tracker,
  Github, RSpec, Ruby, Heroku, Travis, TDD/BDD, Vim; <b>Databases:</b> MySQL, Ms Access.</p>
<br>
<h5 align="center"><i><b>SKILLS:</b></i></h5>

<style>
  .list{list-style: none;}
  .list li{float:left;width:25%;}
</style>

<p>
<ul class="list">
  <li>𐤟 Operation Analysis</li>
  <li>𐤟 Communications</li>
  <li>𐤟 System evaluation</li>
  <li>𐤟 Designing </li>
  <li>𐤟 Researching</li>
  <li>𐤟 Problem-Solving</li>
  <li>𐤟 Presentation</li>
  <li>𐤟 Critical Thinking </li>
</ul>
<br><br>
</p>

<br>
<br>

<h5 align="center"><i><b>SCHOOL EXPERIENCE:</b></i></h5>

<h6 align="left"><b>DaVinci Coders, Sep – Dec 2015</b></h6>

<h6 align="left"> Building the Toolbelt of a Junior Engineer – Instructor: Jason Noble Westminster, CO</h6>

<p align="justify">Thirteen-week intensive learning environment covering Ruby and Ruby oy Rails.
  Utilized Pivotal Tracker to keep track of homework and group projects. Learned
  Git branching strategies, including opening pull requests, responding to code
  reviews and rebasing where appropriate. Built a number of in-class projects,
  including an API, JavaScript, and HTML/CSS Speedop app to allow web developers
  to add the link to their website, test it and get advice on improvements in performance
  of their website and receive weekly email updates on status and changes to a website.</p>

<p align="justify">Pair programmed on the group project to determine requirements, write a code
  using Ruby, HTML/CSS, and JavaScript, including testing and creating Tracker
  stories. Participated in daily stand up meetings.</p>
<br>
<h5 align="center"><i><b>PROFESSIONAL EXPERIENCE:</b></i></h5>

<h6 align="left"><b>PSAV, 2015-present</b></h6>

<h6 align="left">Event Technology Specialist (AV Tech Lead). Denver, CO</h6>

<p align="justify">Responsible for performing assembly and installation of electronic equipment
  and system wiring. Rack assembly; pulling, labeling, terminating and testing
  structured cabling of cat5/6, video, RGB, HDMI, DVI and audio cables; and installing
  audio/video conferencing equipment, distributed audio, digital signage, sound
  reinforcement, video projection, control systems, and flat panel and projection
  screen mounting.</p>

<p align="justify">Reading assigned project documentation, determine if additional information is
  required. Informing the Project Manager of any problems and concerns with assigned
  projects; maintain updated as-built drawings and documentation for assigned projects,
  maintaining accurate inventory of parts and responsible for reporting daily time and
  activity to the Project Manager.</p>

<p align="justify">Computer networking. Structured cabling, grounding, equipment rack fabrications,
  termination and calibration of audio video equipment. Commercial construction
  environments. Soldering and mechanical terminations</p>
<br>

<h6 align="left"><b>Multimedia Audio Visual (MAV), 2010 – 2015</b></h6>

<h6 align="left">AV Technician. Englewood, CO</h6>

<p align="justify">Camera Operator, Video NLE & Real-time Editor, Sound and Color Correction,
  Video Mixing, Video Control and Tape Operations, 3D Graphics, Video Encoding,
  networking, DVD/Blu-Ray Authoring</p>

<p align="justify">Voice and Video Conferencing systems (Live Video Broadcasting, Moving Camera Systems)</p>

<p align="justify">Projections, Lighting, Staging, Cabling, A/V Setups, Team Lead</p>
<br>

<h6 align="left"><b>Wright Group Rental, 2009 – 2010</b></h6>

<h6 align="left">AV Technician. Denver, CO</h6>

<p align="justify">Camera Operator, Video NLE Editor, Lighting, Staging, Cabling, A/V Setups,
  Warehouse, Lead Teach</p>
<br>

<h6 align="left"><b>“LUCH” TV, 2006 – 2007</b></h6>
<h6 align="left">Video Editor / Video Operator / IT. Krasnij Luch, Ukraine</h6>

<p align="justify">Assist in maintaining TV website. Develop and supported company network, hardware
  and software installations.Maintained full responsibility of creating News, Sports &
  Health programs/materials including play-lists for broadcasting. Handled all aspects
  of technical functionalities to include checking all programs for full functionality
  and ensuring material/requirements are complete before broadcast.</p>
  <p align="justify">Maintained technical condition in TV studio encompassing Light, Sound, and
    Color Correction.</p>
<p align="justify">Performed other relevant tasks as needed to include training new employees.</p>
<br>

<h6 align="left"><b>“WOL” TV, 2002 – 2006</b></h6>
<h6 align="left">Video Editor, Camera Operator / IT Donetsk, Ukraine</h6>

<p align="justify">Assist in maintaining church website, network, and hardware/software installations.</p>

<p align="justify">Developed and supported communication video ministry initiatives to include
  documentary programs for the Christian Russian Satellite Channel (CNL) and Ukraine
  National Channels, and performed tasks such as filming, editing, and installation of
  lights and sounds.</p>
<br>

<h6 align="left"><b>“Word of Life” Church, 1996 – 2002</b></h6>
<h6 align="left">Sound & Video Production / IT. Krasnij Luch, Ukraine</h6>

<p align="justify">Assist in developing and maintaining church website, network, and hardware/software
  installations.</p>

<p align="justify">Managed sound installation, sound mixing, and sound recording while ensuring desired
effects and specifications are met.</p>

<p align="justify">Administered and maintained all music equipment in church; performed sound mixing and
  sound recording; and provided assistance in the TV studio when needed.</p>
<br>

<h5 align="center"><i><b>EDUCATION:</b></i></h5>

<h6 align="left"><b>DAVINCI CODERS CODING SCHOOL</b></h6>

<h6 align="left"><b>Ruby on Rails Developer, Back End Web Development</b></h6>

<h6 align="left">Arvada, CO, 2015</h6>
<br>

<h6 align="left"><b>LUGANSK STATE ACADEMY OF CULTURE AND ARTS</b></h6>

<h6 align="left"><b>Bachelor Degree in Acoustics and Sound Engineering</b></h6>

<h6 align="left">Lugansk, Ukraine 2002 – 2007</h6>
<br>

<h6 align="left"><b>FRONT RANGE COMMUNITY COLLEGE</b></h6>

<h6 align="left"><b>Computer Information Systems (CIS)</b></h6>

<h6 align="left">Westminster, CO 2013-present</h6>
<br>

<h5 align="center"><i><b>OTHER EDUCATION:</b></i></h5>

<p align="left">Barco Technical Training - Barco Projection Overview RLM/hex/hdf</p>
<br>

<h5 align="center"><i><b>OTHER SKILLS:</b></i></h5>

<p align="justify">Languages: English, Ukrainian and Russian; Adobe Programs CS/CC: Premier,
  After Effect, Photoshop, Illustrator; Polycom, Tandberg, Cisco, Crestron, AMX,
  Extron; FCP, AVID, HD-DV, media formats/VTR (Digibeta, HDcam, XDcam);
  file types (QT, WMV, MXF, DNX,DV), NTSC-PAL; Encode audio/video (Flash, Mpeg,
  Windows Media, Quick Time, PM3); Cakewalk Sonar, Cubase, Pro Tools; MS Office
  Applications: Word, Excel, Access, PowerPoint,; Gentner/Comrex Telephone Interfaces</p>

</html>