<h4>Shortly about Me</h4>

<p class="lead_gen">My primary goal is to apply my technical expertise in Ruby on Rails Development
  to ensure that products and services meet client/company needs and specifications.
  With strong personal knowledge, skills, and experience in Ruby On Rails Developer, I
  am positive that this goal can be achieved.
  My desire as junior Ruby On Rails Developer to enhanced my abilities in designing,
  implementing, testing, and developing web applications.
  One of my objectives is to keep updated with the
  latest trends and technologies in web development.</p>
<br>
<p>Complete List of T-3 Ruby on Rails Student Blogs:</p>
<br>

<div class="studen", align="left">
<ul style="list-style-type:disc">
  <li>Danny Debevec &#45;&#45; dannydebevec.wordpress.com/</li>
  <li>David Jarrett &#45;&#45; davejarrettblog.wordpress.com/</li>
  <li>Jonathan Speek &#45;&#45; speekruby.com/</li>
  <li>Lucas Henderson &#45;&#45; lucasjhblog.wordpress.com/</li>
  <li>Matt Michnal &#45;&#45; mattmichnal.me/</li>
  <li>Nyla Logsden-Sackett &#45;&#45; nlsackett.wordpress.com/</li>
  <li>JReza Mamdani &#45;&#45; blog.analogrez.io/</li>
  <li>Richard Beasley &#45;&#45; richardbeasleyblog.wordpress.com</li>
  <li>Riley Jones &#45;&#45; rileymjones.wordpress.com/</li>
  <li>Ryan Nance &#45;&#45; ryantnance.wordpress.com/</li>
  <li>Sergey Skumatov &#45;&#45; sskumatov.wordpress.com/</li>
  <li>Sue Uyetake &#45;&#45; suecodingblog.wordpress.com/</li>
  <li>Tim Park &#45;&#45; timsjpark.wordpress.com/</li>
  <li>Zach Alewal &#45;&#45; www.rubylabs.tk/</li>
</ul>
</div>
