<h1>General Information</h1>

<p>Our students are required to blog about their unique experiences during their 13-week Colorado Ruby on Rails Bootcamp.  Below is a list of each student's blog.  Blogging is a useful method to learning because it provides a level of meta-communication about the process and serves as a way to better comprehend the lessons.  An in-depth learn-to-code blog about our coding bootcamp lessons can also identify truly passionate students. Employers are constantly looking for those intangible signs of someone driven to learn to code.</p>
<br>
<p>Complete List of T-3 Ruby on Rails Student Blogs:</p>
<br>

<div class="studen", align="left">
<ul style="list-style-type:disc">
  <li>Danny Debevec -- dannydebevec.wordpress.com/</li>
  <li>David Jarrett -- davejarrettblog.wordpress.com/</li>
  <li>Jonathan Speek -- speekruby.com/</li>
  <li>Lucas Henderson -- lucasjhblog.wordpress.com/</li>
  <li>Matt Michnal -- mattmichnal.me/</li>
  <li>Nyla Logsden-Sackett -- nlsackett.wordpress.com/</li>
  <li>JReza Mamdani -- blog.analogrez.io/</li>
  <li>Richard Beasley -- richardbeasleyblog.wordpress.com</li>
  <li>Riley Jones -- rileymjones.wordpress.com/</li>
  <li>Ryan Nance -- ryantnance.wordpress.com/</li>
  <li>Sergey Skumatov -- sskumatov.wordpress.com/</li>
  <li>Sue Uyetake -- suecodingblog.wordpress.com/</li>
  <li>Tim Park -- timsjpark.wordpress.com/</li>
  <li>Zach Alewal -- www.rubylabs.tk/</li>
</ul>
</div>