<!DOCTYPE>
<html>
<div id="bio">
<div class="page-header">
  <h1 align="center">Resume</h1>

<p><tt>Sergey Michael Skumatov</tt></p>
</div>

<%= render 'bio'%>
</div>
</html>



<style media="screen">
  /*.image_div { background-image: url(background_01.png); }*/
</style>