<!DOCTYPE html>
<html>
<!--<meta http-equiv="refresh" content="0" />-->

  <% if user_signed_in? %>
      <div align="center"><%= render 'address'%></div>
  <% end %>

  <!--<div id="follower">Move your mouse</div>-->
</html>


-->