<!DOCTYPE html>
<html>
<!--<meta http-equiv="refresh" content="0" />-->
<body>
<div class="address_background">

  <h1 align="center">Contact</h1>

<h4 align="center"><em>Sergey M Skumatov</em></h4>

<div align="center"><%= render 'address'%></div>

  <!--<div id="follower">Move your mouse</div>-->

  </div>
</body>
</html>