<div class="page-header">
  <title>Home</title>
  <h3>Everyone has their own Story!</h3>
  <!--<h1>Follow our Rails Student</h1>-->
  <!--<h1>Bootcamper Blogs</h1>-->
</div>
<%= render 'general'%>
<br>
<!--<hr>-->

<p>Find me in <a href = "http://www.davincicoders.com/codingblog/"><strong>DaVinci Blog.</strong></a> </p>


