<!DOCTYPE>

<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1> Hey, </h1>
<p> Welcome to my site</p>
<p>To login use <%= @url %></p>
</body>
</html>
