
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">


      <div class="inner cover">
        <h1 class="cover-heading">ABOUT ME</h1>

        <p class="lead">If you're looking for ways to show your back-end and front-end
          knowledge in your portfolio then you'll be especially interested
          in the takeaways below from Sergey's portfolio.
<br>
          Sergey Skumatov is a Web App Developer from Denver with a diverse set of
          skills ranging from design to front-end, back-end, and devops.
          Sergey has spent time working for some of Denver's finest digital
          agencies, and also takes on freelance work.

          <!--<small><br> <a href="http://localhost:3000/" target=-->
              <!--"_blank">Best viewed on full screen</a></small>-->
        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="https://github.com/Serg09" target="_blank">Please check my Github</a></p>
      </div>


      <!--<div class="mastfoot">-->
        <!--<div class="inner">-->
          <!--&lt;!&ndash; Validation &ndash;&gt;-->
          <!--<p><a href="space_3.jpg"-->
                <!--target="_blank"><small>à´… á€ª ğŠ</small><sup>Â©</sup></a></p>-->

          <!--<p><a href="https://github.com/twbs/bootlint"-->
                <!--target="_blank"><small>Sergey M Skumatov production</small></a></p>-->
          <!--<p>Â© 2016 Sergey Skumatov ~ <a href=-->
                                             <!--https://github.com/Serg09">GitHub</a></p>-->
        <!--</div>-->
      <!--</div>-->


    </div>
  </div>
</div>
