
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*if you don't want the indicators or/and the controls*/
/*.carousel-indicators,
.carousel-control {
  display: none;
}*/

/*.address_background*/
/*!*.backgroundimage*!*/
/*{*/
    /*!* This image will be displayed fullscreen *!*/
    /*background: url('rose.jpg') center center no-repeat;*/
    /*!* Ensure the html element always takes up the full height of the browser window *!*/
    /*min-height:10%;*/
    /*background-repeat: no-repeat;*/
    /*height: 650px;*/
    /*border-radius: 0 !important;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*margin-top: -29px;*/
    /*margin-left: -79px;*/
    /*margin-right: -79px;*/

    /*background-size: cover;*/
    /*!*background-size:400px 750px;*!*/
/*}*/
