.dropdown-menu {
    left: 100%;
    width: 20px;
    height: 83px;
    min-width: 112px;
    position: absolute;
    /*visibility: hidden;*/
    margin-top: -10px;
    text-align: center;
    /*top: 0px;*/
    /*adding: 100;*/
    /*position: static;*/
    left: auto;
    white-space: normal;
    background-color: #000148;
    text: #fffafe;
}